<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Appacitive-iOS-SDK-InterfaceTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Appacitive-iOS-SDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Appacitive_iOS_SDK-NetworkTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2CEB0E92162BD2AB0074DA50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612E3E0915EDF8FD00F98FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>612E3E1915EDF8FE00F98FB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C47E2116083B9700CCABA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
